Cross-compiling EVerest Modules
===============================

Cross-compilation is the fastest and most convenient way to test your own modules directly on the target
system during development. The cross-compiled project is transferred directly via SFTP to the charge
controller and then runtime tested in the target environment.

The following steps describe how to cross-compile a module for the {{ PLATFORM_NAME }} platform.

#. On an Ubuntu or Debian-based Linux distribution, install some development tools and the cross-compilers
   for {{ PLATFORM_NAME }} platform:

   .. code-block:: console

      sudo apt install build-essential squashfs-tools rauc
      sudo apt install {{ APT_CROSS_MACHINE_SPECIFIC }}

#. Download chargebyte's `digital certificate keyring <_static/files/chargebyte-keyring.pem>`_
   and use it to extract the root filesystem from the firmware image. The latest firmware images
   can be found in the `"Release" section <https://github.com/chargebyte/meta-chargebyte-everest/releases>`_
   of chargebyte's Yocto EVerest meta-layer.

   .. code-block:: console

      rauc extract --keyring=./path/to/chargebyte-keyring.pem ./path/to/downloaded-firmware.image bundle-staging

   .. note::

      Alternatively, if the above command does not work (e.g. rauc not available on your host system),
      you can use the following command:

       .. code-block:: console

          unsquashfs -d bundle-staging ./path/to/downloaded-firmware.image

      However, this will not verify the signature of the firmware image.

#. The extracted update image file includes an ext4 root filesystem image tailored for the {{ PLATFORM_NAME }} platform.
   This must be mounted as loop device. A read-only mount is recommended and sufficient here:

   .. code-block:: console

      sudo mkdir -p /srv/chargebyte/everest/everest-devel-image-mount-{{ MACHINE }}
      sudo mount bundle-staging/core-image-minimal-{{ MACHINE }}.ext4 /srv/chargebyte/everest/everest-devel-image-mount-{{ MACHINE }} -o ro

   It is recommended to make this mount persistent using your host system's `/etc/fstab` or similar tools, but this is out-of-scope
   for this documentation.

   .. note::

      Keep in mind, that such a firmware image is specific for a dedicated target platform, the used Yocto version and
      the EVerest core version. Adapt these instructions accordingly, if you have to develop for different versions in parallel.

#. Create a new directory in your `everest-workspace` directory (in parallel to the `everest-core` directory) and
   create a new file named :code:`toolchain.cmake`:

   .. code-block:: console

      cd everest-workspace
      mkdir toolchain
      cd toolchain
      touch toolchain.cmake

#. Save the following content in the :code:`toolchain.cmake` file:

   .. literalinclude:: ../../includes/_static/files/toolchain.cmake

#. The resulting directory structure should now look like this:

   .. code-block:: console

      everest-workspace/
      |── {MyEVerestModuleRepo}
      ├── everest-core
      └── toolchain
          └── toolchain.cmake

#. Create a new :code:`build-{{ MACHINE }}` directory in `MyEVerestModuleRepo` directory (i.e. within your own EVerest
   module project directory or in `everest-core` if you want to build `everest-core` modules or your module is part
   of `everest-core`):

   .. code-block:: console

      cd {MyEVerestModuleRepo}
      mkdir build-{{ MACHINE }}
      cd build-{{ MACHINE }}

#. Run the following command inside the `build-{{ MACHINE }}` directory to configure the build:

   .. code-block:: console

      CMAKE_INSTALL_PATH_DEFINES=" \
          -DCMAKE_INSTALL_PREFIX:PATH=/usr \
          -DCMAKE_INSTALL_BINDIR:PATH=/usr/bin \
          -DCMAKE_INSTALL_SBINDIR:PATH=/usr/sbin \
          -DCMAKE_INSTALL_LIBEXECDIR:PATH=/usr/libexec  \
          -DCMAKE_INSTALL_SYSCONFDIR:PATH=/etc \
          -DCMAKE_INSTALL_SHAREDSTATEDIR:PATH=/var/share \
          -DCMAKE_INSTALL_LOCALSTATEDIR:PATH=/var \
          -DCMAKE_INSTALL_LIBDIR:PATH=/usr/lib \
      "
      export CMAKE_INSTALL_PATH_DEFINES

      cmake \
          $CMAKE_INSTALL_PATH_DEFINES \
          -DCMAKE_TOOLCHAIN_FILE=../../toolchain/toolchain.cmake \
          -DCMAKE_SYSROOT=/srv/chargebyte/everest/everest-devel-image-mount-{{ MACHINE }} \
          ..

#. When this completes successfully, start cross-compiling using :code:`make`:

   .. code-block:: console

      make {MyEVerestModule} -j$(nproc)

   This builds only your own module including all dependencies. If you encounter build problems,
   reduce the number of used CPUs to a single one using `-j1`. This makes it easier to locate
   the problem in the output log.
   Iterate this command if you want to build multiple modules.

#. Once completed the previous step, you can build the remaining/all other
   EVerest modules:

   .. code-block:: console

      make install DESTDIR=target -j$(nproc)

#. If the build was successful, a `target` sub-directory was created within `build-{{ MACHINE }}`
   with the cross-compiled binaries and the manifest files of the modules.
   Please check if the following directory structure was created:

   .. code-block:: console

      target/
      └── usr
          └── libexec
              └── everest
                  └── modules
                      └── {MyEVerestModule}
                          ├── {MyEVerestModule} (binary)
                          └── manifest.yaml (manifest file)

#. Verify that the resulting binaries were compiled for the {{ PLATFORM_NAME }} platform:

   .. code-block:: console

      file target/usr/libexec/everest/modules/{MyEVerestModule}/{MyEVerestModule}

   The output should be something like:

   .. code-block:: console

      usr/libexec/everest/modules/{MyEVerestModule}/{MyEVerestModule}: {{ MACHINE_FILE_SIGNATURE }}

#. As mentioned, the resulting binary and manifest can be found in the :code:`target/usr/libexec/everest/modules/{MyEVerestModule}`
   directory. If you want to test the module on the target system, you can copy the module directory using
   :code:`scp` or :code:`rsync`.

   You cannot replace the binary on the target system when it is running. You have to stop the EVerest system first on the target:

   .. code-block:: console

      systemctl stop everest

   Back on your host system, you can now transfer the files:

   .. code-block:: console

      scp -r target/usr/libexec/everest/modules/{MyEVerestModule} root@<ip_address>:/usr/libexec/everest/modules/

   After this, you can re-start EVerest system on the target system:

   .. code-block:: console

      systemctl start everest

.. note::

   Using this approach, is is also possible to not only transfer your own module(s), but you can also transfer the complete
   content of the `target` directory to the target system. This is helpful, if you want to test changes that also affect EVerest's
   libraries, or you want to test a newer EVerest version.
