Cross-compiling EVerest Modules
===============================

Cross-compilation is the fastest and most convenient way to test your own modules directly on the target
system during development. The cross-compiled project is transferred directly via SFTP to the charge
controller and then tested in the target environment.

The following steps describe how to cross-compile a module for the {{ PLATFORM_NAME }} platform.

#. On an Ubuntu or Debian-based Linux distribution, install the required development tools and cross-compilers
   for the {{ PLATFORM_NAME }} platform:

   .. code-block:: console

      sudo apt install build-essential squashfs-tools rauc
      sudo apt install {{ APT_CROSS_MACHINE_SPECIFIC }}

#. Download chargebyte's `digital certificate keyring <_static/files/chargebyte-keyring.pem>`_
   and use it to extract the root filesystem from the firmware image. The latest firmware images
   can be found in the `"Releases" section <https://github.com/chargebyte/meta-chargebyte-everest/releases>`_
   of chargebyte's Yocto EVerest meta-layer.

   .. code-block:: console

      rauc extract --keyring=./path/to/chargebyte-keyring.pem ./path/to/downloaded-firmware.image bundle-staging

   .. note::

      Alternatively, if the above command does not work (e.g. RAUC is not available on your host system),
      you can use the following command:

       .. code-block:: console

          unsquashfs -d bundle-staging ./path/to/downloaded-firmware.image

      However, this will not verify the signature of the firmware image.

#. The extracted update image file contains an ext4 root filesystem image tailored for the {{ PLATFORM_NAME }} platform.
   This must be mounted as a loop device. A read-only mount is recommended and sufficient here:

   .. code-block:: console

      sudo mkdir -p /srv/chargebyte/everest/everest-devel-image-mount-{{ MACHINE }}
      sudo mount bundle-staging/core-image-minimal-{{ MACHINE }}.ext4 /srv/chargebyte/everest/everest-devel-image-mount-{{ MACHINE }} -o ro

   We recommend making this mount persistent using your host system's `/etc/fstab` or similar tools, but this is out of scope
   for this documentation.

   .. note::

      Keep in mind that such a firmware image is specific to a target platform, the Yocto version used, and
      the EVerest release. Adapt these instructions accordingly if you need to develop for different versions in parallel.

#. Create a new `toolchain` directory in your `everest-workspace` directory (next to the `everest` directory) and
   create a file named :code:`toolchain.cmake`:

   .. code-block:: console

      cd everest-workspace
      mkdir toolchain
      cd toolchain
      touch toolchain.cmake

#. Save the following content in the :code:`toolchain.cmake` file:

   .. literalinclude:: ../../includes/_static/files/toolchain.cmake

#. The resulting directory structure should now look like this:

   .. code-block:: console

      everest-workspace/
      |── {MyEVerestModuleRepo}
      ├── everest
      └── toolchain
          └── toolchain.cmake

#. Create a new :code:`build-{{ MACHINE }}` directory in the `MyEVerestModuleRepo` directory (i.e. within your own EVerest
   module project directory or in `everest` if you want to build EVerest modules or your module is part
   of the EVerest repository):

   .. code-block:: console

      cd {MyEVerestModuleRepo}
      mkdir build-{{ MACHINE }}
      cd build-{{ MACHINE }}

#. Run the following command inside the `build-{{ MACHINE }}` directory to configure the build:

   .. code-block:: console

      CMAKE_INSTALL_PATH_DEFINES=" \
          -DCMAKE_INSTALL_PREFIX:PATH=/usr \
          -DCMAKE_INSTALL_BINDIR:PATH=/usr/bin \
          -DCMAKE_INSTALL_SBINDIR:PATH=/usr/sbin \
          -DCMAKE_INSTALL_LIBEXECDIR:PATH=/usr/libexec  \
          -DCMAKE_INSTALL_SYSCONFDIR:PATH=/etc \
          -DCMAKE_INSTALL_SHAREDSTATEDIR:PATH=/var/share \
          -DCMAKE_INSTALL_LOCALSTATEDIR:PATH=/var \
          -DCMAKE_INSTALL_LIBDIR:PATH=/usr/lib \
      "
      export CMAKE_INSTALL_PATH_DEFINES

      cmake \
          $CMAKE_INSTALL_PATH_DEFINES \
          -DCMAKE_TOOLCHAIN_FILE=../../toolchain/toolchain.cmake \
          -DCMAKE_SYSROOT=/srv/chargebyte/everest/everest-devel-image-mount-{{ MACHINE }} \
          ..

#. After the configuration completes successfully, cross-compile the module using :code:`make`:

   .. code-block:: console

      make {MyEVerestModule} -j$(nproc)

   This builds only your own module and all dependencies. If you encounter build problems,
   reduce the number of CPUs used to a single one using `-j1`. This makes it easier to locate
   the problem in the output log.
   Repeat this command if you want to build multiple modules.

#. After completing the previous step, you can build and install the remaining
   EVerest modules:

   .. code-block:: console

      make install DESTDIR=target -j$(nproc)

#. If the build was successful, a `target` subdirectory is created within `build-{{ MACHINE }}`
   with the cross-compiled binaries and the module manifest files.
   Check whether the following directory structure exists:

   .. code-block:: console

      target/
      └── usr
          └── libexec
              └── everest
                  └── modules
                      └── {MyEVerestModule}
                          ├── {MyEVerestModule} (binary)
                          └── manifest.yaml (manifest file)

#. Verify that the resulting binaries were compiled for the {{ PLATFORM_NAME }} platform:

   .. code-block:: console

      file target/usr/libexec/everest/modules/{MyEVerestModule}/{MyEVerestModule}

   The output should look similar to this:

   .. code-block:: console

      usr/libexec/everest/modules/{MyEVerestModule}/{MyEVerestModule}: {{ MACHINE_FILE_SIGNATURE }}

#. The resulting binary and manifest can be found in the :code:`target/usr/libexec/everest/modules/{MyEVerestModule}`
   directory. If you want to test the module on the target system, you can copy the module directory using
   :code:`scp` or :code:`rsync`.

   You cannot replace the binary on the target system while it is running. First, stop the EVerest system on the target:

   .. code-block:: console

      systemctl stop everest

   Back on your host system, you can now transfer the files:

   .. code-block:: console

      scp -r target/usr/libexec/everest/modules/{MyEVerestModule} root@<ip_address>:/usr/libexec/everest/modules/

   Then restart the EVerest system on the target system:

   .. code-block:: console

      systemctl start everest

.. note::

   Using this approach, it is also possible to transfer not only your own module(s), but also the complete
   content of the `target` directory to the target system. This is helpful if you want to test changes that also affect EVerest
   libraries or if you want to test a newer EVerest version.
